<p id="notice"><%= notice %></p>

<h1>Order Invitations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Order</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_invitations.each do |order_invitation| %>
      <tr>
        <td><%= order_invitation.user %></td>
        <td><%= order_invitation.order %></td>
        <td><%= order_invitation.status %></td>
        <td><%= link_to 'Show', order_invitation %></td>
        <td><%= link_to 'Edit', edit_order_invitation_path(order_invitation) %></td>
        <td><%= link_to 'Destroy', order_invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Invitation', new_order_invitation_path %>
